* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: aqua;
    min-height: 600px;
    width: 100%;
}

main>h1 {
    background-color: rgb(127, 255, 212);
    border-bottom: 3px outset rgb(127, 255, 212);
    border-left: 3px outset rgb(127, 255, 212);
    border-right: 3px outset rgb(127, 255, 212);
    border-top: 3px outset rgb(127, 255, 212);
    padding: 10px 0;
    text-align: center;
}

.clases {
    display: flex;
    gap: 80px;
    height: auto;
    padding: 15px 5px;
    width: 100%;
}

#caja-izq {
    display: block;
    margin-left: 10px;
    height: auto;
    width: 300px;
}

#caja-izq a {
    background-color: rgba(0, 0, 160, 0.7);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.2);
    color: white;
    display: block;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 65px;
    padding: 5px;
    text-decoration: none;
    transition: background-color 0.4s linear;
}

#caja-izq a:hover {
    background-color: blue;
}

#caja-izq a:active {
    transform: scale(0.9);
}

.info-class {
    background-color: rgba(0, 0, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 2.5px solid black;
    border-radius: 10px;
    height: auto;
    padding: 10px 5px;
    width: 300px;
}

.info-class>h1 {
    font-size: 7mm;
    font-weight: 800;
    margin-bottom: 5px;
    text-align: center;
}

.info-class p {
    font-size: 4.5mm;
    font-weight: 600;
    margin: 5px 10px;
}

#caja-der {
    display: flex;
    gap: 50px;
    width: 100%;
}

.profe {
    background-color: rgba(255, 255, 0, 0.6);
    border: 2px solid black;
    border-radius: 10px;
    height: auto;
    width: 300px;
}

.profe img {
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    width: 70%;
    height: auto;
}

.profe p {
    margin-bottom: 10px;
    margin-left: 20px;
}