#act2,
#act3,
#act4 {
  display: none;
}

#parte2,
#parte3 {
  display: none;
}

#date1-2,
#date1-3,
#date1-4,
#date1-5,
#date2-2,
#date2-3,
#date2-4,
#date2-5,
#date3-2,
#date3-3,
#date3-4,
#date3-5 {
  display: none;
}

#btn1-2,
#btn1-3,
#btn1-4,
#btn1-5,
#btn1-6,
#btn1-7,
#btn1-8,
#btn2-2,
#btn2-3,
#btn2-4,
#btn2-5,
#btn2-6,
#btn2-7,
#btn2-8,
#btn3-2,
#btn3-3,
#btn3-4,
#btn3-5,
#btn3-6,
#btn3-7,
#btn3-8 {
  display: none;
}
